language: go
go:
- 1.9.x
- 1.10.x
- 1.11.x
branches:
  only:
  - master
  - /^v([0-9]+)\.([0-9]+)\.([0-9]+)(?:\-(rc\.[0-9]+)*)?$/
cache:
- directories:
  - $GOPATH/bin
  - $GOPATH/pkg
before_install:
- mkdir -p $HOME/gopath/bin
install:
- export PATH=$PATH:$TRAVIS_BUILD_DIR/vendor/bin:$GOPATH/bin
- make bootstrap
notifications:
  slack:
    secure: TAwHQeZqM9b0I1y1VC80jhbUbCtpk1dgPS+6fQPBppH1Syef4f5rZYaG/NHvruiXPeFuYY0fI1OdWxjIYWQU7GXFGhLI6Ypzf8lpCdMbvoyw2RkUvgW0v/enbNOeOGQxi2RzS0C1mUnQanqK6NSaCxElPVYu1oRfmOnS1wK1i1iTr5iwc6XIrXkRNC4PXxXs7cCfoEisluH9xSYlFdsMRv/efbXVFaTzQEmW/sjrM2WgGiOhgatBFSTWKcCyrjpSpcV9ASq5HT3dd9P4D8++8G/uf+2v4KQ4zT4jhmodV/13RR2JdsRonCU4VRKXgRrdkIKFqt7fXDxBTibaRKkV83k3nE8tfyaCfP4K6Kq4+yUPAXm+nIIjVCQ0iunw5jrT0aD1reouTN3q99BN5ReOTFXJ8EIj8F8AnluD6hRXCj9Ml4SLFtcFjyRVEAY2rgAu68IjjfSShxHyOHwp6Y8NpU1SyfaOGe9NYh1ktkKHE5jLq12sUogMYdTNT2x2hK7wWEofJTEQ4lN9bJvwkf6bsZzhpg4kMdH3eLF9ejTbQdnOX9s3l27si0Pho/O3aIQ1KB28Me3HYhb7Tw+BLuK5ATBMmmnzjye1Z2nrHX8TQbf7gT0J2roR7dscuvgQt3EOKnLalMA9oHAWsuJr8JMSQ/vfw0YVzNQJrtLabkWHRZ8=
deploy:
- provider: script
  script: make release
  skip_cleanup: true
  on:
    tags: true
    repo: manifoldco/manifold-cli
env:
  global:
  - AWS_REGION=us-east-1
  - secure: G6wDh2d0YCLISdIPxa7oLVdfFqkFdQSirJVjdpg1iKfmN5qu96Q2N8sbjqGwg4QIIalYAtNJd9oQzzZhi81TDmk9PtQs/tT65UKtr+TKxs+baH78zSXTdbhL9hJWcFoVX2D4UAo7Hc3SiZGTdXoDwSZ3JEkJ4b5XQsYN2LywvQna/hZ0cAuzsal/YBg+URzHrgPCxsDslLDKOqUUKY0PJ9b3ph/zx/EQDNRExH0Kl+n/GfF4sddaZolxLEWS6k/uSAMOe6VZZ8f2/ayrJkQge+XD894wtpGEdVg5vxSvWYQriC+5y2Z/jF5yi4sovMSZNp+xaGckuDrgtW7dmgirmPVCUBxxpIPVLvnTqMjwUnLQrcTKMZm3hOsgHy5GwyccpMzhDgmTi+7XDqELOIn3RWuff5FlSz2IQk+xhoXYDWLEh6HzhjVhZM/SgHMID4mjTH50728EhTPHdWWRoTsuBJCI0o/sDHDdQM/kOR8rICELwD/gjMFGxYGmOydMECx1XlMa4Tk4hr1jiPzCi2D2CivOL+ChjDkE16/RlQW9VVHe/dSVf36WWYm9cIq0RTjlZt/pwAcAiFLyMVGxWn+29peJvIzY9mE6fe3Jk5AOu6RvLFMUxYKV32VxMIEC5xWajZPqQyQAq4vqvKoNl2FdGMLuYUh0yJgBFk/kSth2ac4=
  - secure: SAXKHdLHGL+QFXfbVdcgSgqiAWZ4OIIMACW9WLXV3RQNXHMcH1rfXAsr3HPAJeWC/eSH0rH8ik2Mzie0HZznbDUk7QKBjzzQwIoQ6C3t7pCnPrmbDCuk1/a1BL9OgguBqoy4ZOg97VqlTmS0+SE2HEf8O22/O62X2pNwxPmlmXrpuY140eUmuzreGnhVxy/9PebAe6lh3n5QWfa/JX7fj15OZ1D5PCNx8B773oAoFb91HWDFjpX8l/jSzHhm+e+6pI3hLkxCqPkiIORrL0GBr5D4zT16OSmos2gxbygOHNNXsE0btf6qUdBYSuT988OcKnmUUH3zwrZYTEL6J5dhfbYuZ2OPa1SnvtOAGy+edIdqwwb7ovFh+PCF78pnHN8PotN5PIf9xhGx8JVNulVu16qAiY8gQjzILABw/wSracgXPV92kWA2C0mc7y3Ly7bpTjOSzQHUOd3aXwdMpnL7JGr49xv6bxkEmj1YZMMs76BmbhucF3kl+5ZwqHwUvawPySh0U3FLh/i9oQlcymh2pdiB4uzajXAHoJR+PU5WQjtr9C2o5bOQrqFZs6U0Zi4c1jsmLToTtg2bKG64YCUujPNnjUfGT3+O/UgGV/OdXXQCIHODEOAvOoF8H+5DwpH6KDNYhAyz2QODXF0TQUg+9LtYjdk4OweT8wppWySJw5c=
  - secure: Q0QqyCM+YvML2hfIgoQ7ig4igSKJYME1bQfLfmYo+JPWblNgMuSUvvqhmuZJqUe7EugEozeYJFzkv3T7U0s8TYuNmHPihkjsHnsk7YLmbZWAEo9TnZ32AUGunx1zLfYG8hrwYhpnL78sWDlspGQn00IV9+u8ar3aiJ3xrAmPyP1FsGSnlV5rfofYs74QIUrZnWGHlmHPcZTnfSebZKd6ygXRpVT9RXMu57wN21vxlyyVsPY0HR/aii6UnF2EMixJ0GHwdK9hP4AzrgiNs262Pta2nNzdVHKZwXsQqRDub0GtctelQDGPFcFm1hLDHgQlb/E+8GNudbnxqn2Xm1uqH6TkKFOc/N/F69TEHcen7m6tHZZMQPRROhbj58PYGx4nIw7vAhmTdi59s4+tdP5TrZcIUIUrmgjxUflFPQy+H/60rXGtUqDo0OUaWQbGfSGTwmePW848iGC39zpVAJSIJT6X4OBdWxPgK2TfztWbbJc6MUnFAoBNemhj3FxXga/v6IqzO014LZb5UWhO5OzVr6sAGYPkccIQQ22/hFZIXsOoACDuLV/FX7r5+3dVJOWBDKXOPeFOVuYrCMoQU0C9U2H6leyZF4YKzrHSMFu3gXZY3V/UBXi5/hSa7L9HhOLJh7ngnVb9lHARkhp0NQ2+NWXBnIuD/LSIPF4MU4He3U8=
after_success:
  # only report coverage for go-version 1.11
  - if [[ $TRAVIS_GO_VERSION =~ ^1\.11 ]] ; then bash <(curl -s https://codecov.io/bash) -f all-cover.txt; fi
