swagger: "2.0"
info:
  title: Connector API
  description: |
    # Introduction
    The Connector API allows Providers to query Manifold for data related to
    provisioned resources and users of those resources.

    The API is available at `https://api.connector.manifold.co`.

    # Authentication
    An [OAuth 2.0](https://tools.ietf.org/html/rfc6749) [Bearer
    Token](https://tools.ietf.org/html/rfc6750) is used to authenticate with
    the Connector API. An access token is granted to a provider either by the
    provider themselves or by a user as part of the Single Sign-On flow.

    Requests that require authentication will return `401 Unauthorized`. If the
    requester has insufficient access a `404 Not Found` may be returned instead
    of a `401 Unauthorized`. This is to prevent the accidental leakage of
    private data.

    Access Tokens are valid for 24 hours.

    OAuth Credentials are given to providers by Manifold and are scoped to a
    specific product in the Manifold Catalog. All granted access tokens are
    scoped to the product's credentials.

    To acquire a set of OAuth Credentials please contact [Manifold
    Support](mailto:support@manifold.co).
  version: 1.0.0
host: api.connector.manifold.co
schemes:
- https
produces:
- application/json
consumes:
- application/json
securityDefinitions:
  oauth:
    type: oauth2
    description: Authentication mechanism for external provider services.
    flow: accessCode
    authorizationUrl: https://api.connector.manifold.co/v1/oauth/authorize
    tokenUrl: https://api.connector.manifold.co/v1/oauth/tokens
parameters:
  resource_id:
    name: id
    in: path
    description: |
      ID of a Resource object, stored as a base32 encoded 18 byte identifier.
    required: true
    type: string
    pattern: ^[0-9abcdefghjkmnpqrtuvwxyz]{29}$
    format: base32ID
  callback_id:
    name: id
    in: path
    description: |
      ID of a Callback, stored as a base32 encoded 18 byte identifier.
    required: true
    type: string
    pattern: ^[0-9abcdefghjkmnpqrtuvwxyz]{29}$
    format: base32ID
responses:
  BadRequest:
    description: Request denied due to invalid request body, path, or headers.
    schema:
      $ref: '#/definitions/Error'
    examples:
      application/json:
        type: bad_request
        message:
        - Invalid Resource ID Provided
  Unauthorized:
    description: Request denied as the provided credentials are no longer valid.
    schema:
      $ref: '#/definitions/Error'
    examples:
      application/json:
        type: invalid_grant
        message:
        - Provided authorization_code is invalid or does not exist.
  NotFound:
    description: Request denied as the requested resource does not exist.
    schema:
      $ref: '#/definitions/Error'
    examples:
      application/json:
        type: not_found
        message:
        - Resource not found
  Internal:
    description: Request failed due to an internal server error.
    schema:
      $ref: '#/definitions/Error'
    examples:
      application/json:
        type: internal
        message:
        - Internal Server Error
  TokenBadRequest:
    description: Request denied due to invalid request body, path, or headers.
    schema:
      $ref: '#/definitions/OAuthError'
    examples:
      application/json:
        error: invalid_grant
        error_description: Provided authorization_code is invalid or does not exist.
  TokenUnauthorized:
    description: Request denied as the provided credentials are no longer valid.
    schema:
      $ref: '#/definitions/OAuthError'
    examples:
      application/json:
        error: invalid_client
        error_description: Provided client_id and client_secret do not match
security:
- oauth: []
basePath: /v1
paths:
  /sso:
    x-manifold-audience: browser
    post:
      summary: Create Authorization Code
      description: |
        Endpoint for creating an authorization code used by the user to issue
        an SSO request against a providers API from the Dashboard.
      security:
      - jwtRequired: []
      tags:
      - OAuth
      parameters:
      - name: body
        in: body
        description: Authorization Code Request Body
        required: true
        schema:
          $ref: '#/definitions/AuthCodeRequest'
      responses:
        201:
          description: An authorization code has been created.
          schema:
            $ref: '#/definitions/AuthorizationCode'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        500:
          $ref: '#/responses/Internal'
definitions:
  ID:
    type: string
    description: A base32 encoded 18 byte identifier.
    pattern: ^[0-9abcdefghjkmnpqrtuvwxyz]{29}$
    format: base32ID
    x-go-type:
      type: ID
      import:
        package: github.com/manifoldco/go-manifold
        alias: manifold
  Label:
    type: string
    description: A machine readable unique label, which is url safe.
    pattern: ^[a-z0-9][a-z0-9\-\_]{1,128}$
    x-go-type:
      type: Label
      import:
        package: github.com/manifoldco/go-manifold
        alias: manifold
  Name:
    type: string
    description: A name of an entity which is displayed to a human.
    pattern: ^[a-zA-Z][a-z0-9A-Z \-]{2,128}$
    x-go-type:
      type: Name
      import:
        package: github.com/manifoldco/go-manifold
        alias: manifold
  RegionSlug:
    type: string
    description: |
      Combination of the cloud platform and location to provision this
      resource within.
    pattern: ^([a-z0-9][a-z0-9\-_]{1,63})::([a-z0-9][a-z0-9\-_]{1,63})$
  Code:
    type: string
    minLength: 13
    maxLength: 13
    description: |
      An authorization code used by a provider in exchange for a scoped
      Access Token.
  Email:
    type: string
    format: email
    description: A valid e-mail address.
    x-go-type:
      type: Email
      import:
        package: github.com/manifoldco/go-manifold
        alias: manifold
  Error:
    type: object
    properties:
      type:
        type: string
        enum:
        - bad_request
        - unauthorized
        - not_found
        - internal
        - invalid_grant
        - unsupported_grant_type
        description: The error type
      message:
        type: array
        description: Explanation of the errors
        items:
          type: string
    x-go-type:
      type: Error
      import:
        package: github.com/manifoldco/go-manifold
        alias: manifold
  OAuthError:
    type: object
    properties:
      error:
        type: string
        enum:
        - invalid_request
        - invalid_client
        - invalid_grant
        - unauthorized_client
        - unsupported_grant_type
        - invalid_scope
        - access_denied
        description: The error type
      error_description:
        type: string
        description: Explanation of the error
    additionalProperties: false
    required:
    - error
    x-go-type:
      type: OAuthError
      import:
        package: github.com/manifoldco/go-connector
        alias: connector
  AuthCodeRequest:
    description: HTTP Request Body of an Auth Code
    type: object
    properties:
      body:
        type: object
        properties:
          resource_id:
            $ref: '#/definitions/ID'
        additionalProperties: false
        required:
        - resource_id
    additionalProperties: false
    required:
    - body
  AuthorizationCode:
    type: object
    properties:
      id:
        $ref: '#/definitions/ID'
      version:
        type: string
        enum:
        - "1"
      type:
        type: string
        enum:
        - authorization_code
      body:
        type: object
        properties:
          user_id:
            $ref: '#/definitions/ID'
          resource_id:
            $ref: '#/definitions/ID'
          created_at:
            type: string
            format: datetime
          expires_at:
            type: string
            format: datetime
          code:
            $ref: '#/definitions/Code'
          redirect_uri:
            type: string
            format: url
        additionalProperties: false
        required:
        - user_id
        - resource_id
        - created_at
        - expires_at
        - code
        - redirect_uri
    additionalProperties: false
    required:
    - id
    - version
    - type
    - body
    x-go-type:
      type: OAuthAuthorizationCode
      import:
        package: github.com/manifoldco/marketplace/connector/primitives
  OAuthClientID:
    description: |
      Client ID portion of the OAuth Credentials used for accessing the
      Manifold Connector API.
    type: string
    pattern: ^[0-9abcdefghjkmnpqrtuvwxyz]{29}$
    format: base32ID
    x-go-type:
      type: ID
      import:
        package: github.com/manifoldco/go-manifold
        alias: manifold
  OAuthClientSecret:
    type: string
    minLength: 43
    maxLength: 43
    pattern: ^[a-zA-Z0-9_-]{43}$
    description: |
      Client Secret portion of the OAuth Credentials used for accessing the
      Manifold Connector API. A client secret is a 32byte base64 encoded value.

      This value must be kept a secret.
  AccessTokenRequest:
    description: HTTP Request Body of an Access Token
    discriminator: grant_type
    type: object
    properties:
      grant_type:
        type: string
        enum:
        - authorization_code
        - client_credentials
      client_id:
        $ref: '#/definitions/OAuthClientID'
      client_secret:
        $ref: '#/definitions/OAuthClientSecret'
    additionalProperties: false
    required:
    - grant_type
  client_credentials:
    type: object
    allOf:
    - $ref: '#/definitions/AccessTokenRequest'
  authorization_code:
    type: object
    allOf:
    - $ref: '#/definitions/AccessTokenRequest'
    - type: object
      properties:
        code:
          $ref: '#/definitions/Code'
      additionalProperties: false
      required:
      - code
  AccessToken:
    description: |
      A granted access token used for performing requests on behalf o a user
      or provider against the Manifold Connector API.
    type: object
    properties:
      access_token:
        type: string
        maxLength: 295
      token_type:
        type: string
        enum:
        - bearer
      expires_in:
        type: integer
    additionalProperties: false
    required:
    - access_token
    - token_type
    - expires_in
  Identity:
    description: The underlying actor represented by the current Access Token.
    discriminator: type
    type: object
    properties:
      type:
        type: string
        enum:
        - user
        - product
    additionalProperties: false
    required:
    - type
  product:
    allOf:
    - $ref: '#/definitions/Identity'
    - type: object
      properties:
        target:
          type: object
          properties:
            name:
              $ref: '#/definitions/Name'
            label:
              $ref: '#/definitions/Label'
          additionalProperties: false
          required:
          - name
          - label
      required:
      - target
  user:
    allOf:
    - $ref: '#/definitions/Identity'
    - type: object
      properties:
        target:
          type: object
          properties:
            name:
              $ref: '#/definitions/Name'
            email:
              $ref: '#/definitions/Email'
          additionalProperties: false
          required:
          - name
          - email
      required:
      - target
  Profile:
    description: |
      A view of a Manifold User.

      Do not store any of this data, instead query Manifold for the most up to
      date information.
    type: object
    properties:
      name:
        $ref: '#/definitions/Name'
      email:
        $ref: '#/definitions/Email'
    additionalProperties: false
    required:
    - name
    - email
  Resource:
    description: |
      A view of a Resource provisioned through Manifold.

      Do not store any of this data, instead query Manifold for the most up to
      date information.
    type: object
    properties:
      id:
        $ref: '#/definitions/ID'
      product:
        $ref: '#/definitions/Label'
      plan:
        $ref: '#/definitions/Label'
      region:
        $ref: '#/definitions/RegionSlug'
      name:
        $ref: '#/definitions/Name'
      created_at:
        type: string
        format: datetime
      updated_at:
        type: string
        format: datetime
  CallbackResponse:
    type: object
    description: |
      A callback sent from a provider to complete an asynchronous request.

      Credentials can only be specified *if* the callback corresponds with a
      credential provisioning request.
    properties:
      state:
        type: string
        enum:
        - done
        - error
      message:
        type: string
        minLength: 3
        maxLength: 256
      credentials:
        type: object
        additionalProperties:
          type: string
    additionalProperties: false
    required:
    - state
    - message
  OAuthCredentialCreateRequest:
    type: object
    properties:
      product_id:
        $ref: '#/definitions/ID'
      description:
        type: string
        minLength: 3
        maxLength: 256
        description: |
          A human readable description of this credential pair.
    required:
    - product_id
    - description
    additionalProperties: false
  OAuthCredentialGetResponse:
    allOf:
    - type: object
      properties:
        id:
          $ref: '#/definitions/OAuthClientID'
        created_at:
          type: string
          format: datetime
        updated_at:
          type: string
          format: datetime
      required:
      - id
      - created_at
      - updated_at
      additionalProperties: false
    - $ref: '#/definitions/OAuthCredentialCreateRequest'
  OAuthCredentialCreateResponse:
    allOf:
    - type: object
      properties:
        secret:
          $ref: '#/definitions/OAuthClientSecret'
      required:
      - secret
      additionalProperties: false
    - $ref: '#/definitions/OAuthCredentialGetResponse'
